.TaskDetail {
  width: 100%;
  height: 100vh;
  background-color: #232323;
}

.TaskDetail-TimerView {
  width: 100%;
  height: 30vh;
}

.TaskDetail-timer-view {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TaskDetail-timer-text {
  font-size: 100px;
  height: 70%;
  color: white;
  font-size: 100;
}

.TaskDetail-timer-estimatedTime-text {
  font-size: 20px;
  color: white;
}

.TaskDetail-Timer_view_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.TaskDetail-Timer_Button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 5px;
}

.TaskDetail-ContentView {
  width: 100%;
  height: auto;
}

.TaskDetail-ContentView-TopLine {
  margin-top: 10px;
  width: 100%;
  height: 5px;
  background-color: #f0f0f0f0;
}

.TaskDetail-ContentView-MidLine {
  width: 100%;
  height: 1px;
  background-color: #f0f0f0f0;
}

.Task-ContentView-Title {
  color: white;
  font-size: 18px;
  margin: 10px;
}

.Task-ContentView-Content {
  color: white;
  white-space: pre-wrap;
  font-size: 15px;
  margin: 10px;
}

.Task-ContentView-View {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.Task-ContentView-followerView {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.Task-ContentView-followerText {
  color: white;
  font-size: 15px;
}

.Task-ContentView-follower-name {
  color: white;
  font-size: 15px;
  margin-left: 3px;
}

.Task-ContentView-Time {
  color: white;
  font-size: 15px;
  margin: 10px;
}
